.dh-menu-container {
  font-size: 1.7em;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;
}

.title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  margin-bottom: 2%;
}

.button-group-container {
  margin: 2%;
  width: 100%;
  height: 10%;
  justify-content: space-evenly;
  flex-direction: row;
} 

.button-container {
  width: 32%;
  height: 100%;
}

.button-container a {
  width: 100%;
  height: 100%;
}

.button {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 3% 0 3% 0;
  background-color: #fff;
  box-shadow: 7px 5px 5px 2px rgba(10,10,20, .2);
  border: none;
  border-radius: 30px;
  transition: .7s ease;
}

.button:hover {
  box-shadow: 0px 5px 10px rgba(0,0,0,1);
}

.menu-container {
  margin: 2%;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  flex: 1 1 auto;
}

.menu {
  margin: 2%;
  flex: 1 1 auto;
  flex-direction: column;
}

.menu-item {
  height: auto;
}
