.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  -webkit-justify-content: space-between;
}

.landing-container {
  justify-content: space-evenly;
  flex: 1 1 auto;
  height: 100vh;
  width: 100%;
}


